/* ==========================================================================
   Style
   ========================================================================== */

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

h1,
h2,
label,
input {
	font-weight: 100;
}

.wrapper {
   width: 80%;
   margin: 0 auto; 
   max-width: 400px;
}

h1,
h2 {
	text-align: center;
}

.title--primary{
	margin-bottom: 0;
}

.title--secondary{
	font-size: 1.2em;
	margin-top: 0;
}

input[type=text],
input[type=url],
input[type=password],
input[type=email] {
	/*background-color: #DFDFDF;*/
	border: none;
  border-bottom: 1px solid #DFDFDF;
	padding: 0.5em;
	width: 100%;
}

.form-row {
	margin: 0 0 1em 0;
}

label {
	display: block;
}

.label--inline {
	display: inline;
}

.oi-message {
	display: block;
	color: #df4949;
	margin-top: 2px;
	 -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
	-webkit-animation-name: fadeInUp;
  	animation-name: fadeInUp;
}

.oi-has-interacted:invalid {
	border-color: #df4949;
}

.oi-has-interacted:valid {
	border-color: #00B233;
}


.button {
  background-color: #00B233;
  border: none;
  padding: 0.3em 1em;
  color: #FFF;
  transition: background-color ease-in-out 300ms;
}

.button:hover,
.button:focus {
  background-color: #028628;
}

.cta {
  text-align: center;
  font-size: 1.5em;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}